a:not([href^="https://www.tokyovaccine-rsv.metro.tokyo.lg.jp/"],[href^="https://tokyovaccine-rsv.metro.tokyo.lg.jp/"],[class^="NotExternalLink"]):after
{
  margin: 0 3px 0 3px;
  content: url(../images/Link_button1.png);
  text-decoration: underline;
}
.map_button {
  display: inline-block;
  border-radius: 25%; /* 角丸       */
  font-size: 1.2rem; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 2px 3px; /* 余白       */
  background: #00a040; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  border: 2px solid #00a040; /* 枠の指定 */
  text-decoration: none;
}
.map_button:hover {
  color: #00a040; /* 背景色     */
  background: #ffffff; /* 文字色     */
}
